.App {
  text-align: center;
  background-color: #0e1626;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  color: white;
  background-size: cover;
  overflow: hidden;
}

.GHistory-title {
  margin: 40px 0px 40px 0px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Biryani', sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.GHistory-footer {
  position: relative;
  padding: 20px 20px 20px 0px;
  float: right;
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
